*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab-cont{
    background-color: beige;
    padding: 40px 70px;
    width: 70vw;
    height: 70wh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
h2{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
h4{
    margin-bottom: 20px;
}
p{
    padding: 20px;
}
summary{
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
p{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}